
body {
}

.etoile{
    color: green;
}
.etoile:nth-child(2n-2) {
    text-shadow: #f8e287 2px 2px 10px;
    color: #f8e287;
    animation: clic 2s infinite;
}

.sapin-header{
    text-align: center;
}

.sapin-wrapper{
    text-align: center;
}

.slash{
    position: absolute;
    transform: rotate(-153deg);
    margin-left: -8px ;
    color: green;
}

.antislash{
    position: absolute;
    transform: rotate(153deg);
    margin-left: 3px ;
    color: green;
}


.tronc{
   display: flex;
   justify-content: center; 
}


.tronc div{
    width: 60px;
    height: 100px;
    background: rgb(150,150,100) 
}

@keyframes clic {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

